\usepackage{ulem}/vcpkg/
/extern/pybind11/*
/cmake-build-debug/
/build/extern/
/build/test_frenet.dir/
/build/sstbindings.dir/
/build/sstbindings.dir/
/build/x64/
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/INSTALL.vcxproj
/build/INSTALL.vcxproj.filters
/build/test_frenet.vcxproj
/build/test_frenet.vcxproj.filters
/build/sstbindings.vcxproj
/build/sstbindings.vcxproj.filters
/build/VAMCore.sln
/build/vamcore.vcxproj
/build/vamcore.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/CMakeFiles/
/sphSimulator_output/
/build/
/cmake-build-debug-mingw/
/cmake-build-relwithdebinfo-mingw/
/extern/

# Python packaging artifacts
/dist/
/*.egg-info/
/build/temp/
/build/lib/
*.egg
/Secrets.md
